/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: Houschka Pro Medium; src: url("../fonts/houschkapro-medium-webfont.eot"); src: url("../fonts/houschkapro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/houschkapro-medium-webfont.woff") format("woff"), url("../fonts/houschkapro-medium-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: HouschkaProBold; src: url("../fonts/houschkapro-bold.eot"); src: url("../fonts/houschkapro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/houschkapro-bold.woff") format("woff"), url("../fonts/houschkapro-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: HouschkaProDemiBold; src: url("../fonts/houschkapro-demibold.eot"); src: url("../fonts/houschkapro-demibold.eot?#iefix") format("embedded-opentype"), url("../fonts/houschkapro-demibold.woff") format("woff"), url("../fonts/houschkapro-demibold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

body { background: #f0f0f0; font-size: 14px; font-family: "Houschka Pro Medium", arial, sans-serif; line-height: 1.4; color: #242424; }

.column25 { float: left; width: 25%; }

.column33 { float: left; width: 33%; }

.column40 { float: left; width: 40%; }

.column50 { float: left; width: 50%; }

.column60 { float: left; width: 60%; }

.clr { *zoom: 1; }
.clr:after { content: " "; display: table; clear: both; }

.breadcrumbs { float: left; }
.breadcrumbs li { position: relative; float: left; margin-left: 38px; }
.breadcrumbs li:before { content: ""; position: absolute; top: 6px; left: -28px; background: url('../img/icons-s94422c8a13.png') 0 -1464px no-repeat; width: 19px; height: 6px; }
.breadcrumbs li:first-child { margin-left: 0; }
.breadcrumbs li:first-child:before { display: none; }
.breadcrumbs li a { color: #919192; }
.breadcrumbs li a:hover { color: #c6c6c6; text-decoration: none; }
.breadcrumbs li.is-current a { text-decoration: none; cursor: default; }
.breadcrumbs li.is-current a:hover { color: #919192; }

.share { float: right; }
.share > span, .share ul { display: inline-block; vertical-align: middle; font-size: 12px; color: #242424; }
.share > span li, .share ul li { display: inline-block; vertical-align: middle; }
.share > span li a, .share ul li a { position: relative; display: block; width: 26px; height: 26px; line-height: 26px; text-align: center; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #efefef; }
.share > span li a i, .share ul li a i { vertical-align: middle; }
.share > span li a.vk i, .share ul li a.vk i { display: inline-block; background: url('../img/icons-s94422c8a13.png') 0 -1226px no-repeat; width: 9px; height: 12px; }
.share > span li a.vk:hover i, .share ul li a.vk:hover i { background: url('../img/icons-s94422c8a13.png') 0 -1248px no-repeat; width: 9px; height: 12px; }
.share > span li a.od i, .share ul li a.od i { display: inline-block; background: url('../img/icons-s94422c8a13.png') 0 -961px no-repeat; width: 10px; height: 16px; }
.share > span li a.od:hover i, .share ul li a.od:hover i { background: url('../img/icons-s94422c8a13.png') 0 -987px no-repeat; width: 10px; height: 16px; }
.share > span li a.fb i, .share ul li a.fb i { display: inline-block; background: url('../img/icons-s94422c8a13.png') 0 -1416px no-repeat; width: 8px; height: 14px; }
.share > span li a.fb:hover i, .share ul li a.fb:hover i { background: url('../img/icons-s94422c8a13.png') 0 -1440px no-repeat; width: 8px; height: 14px; }
.share > span li a.tw i, .share ul li a.tw i { display: inline-block; background: url('../img/icons-s94422c8a13.png') 0 -1071px no-repeat; width: 15px; height: 13px; }
.share > span li a.tw:hover i, .share ul li a.tw:hover i { background: url('../img/icons-s94422c8a13.png') 0 -1119px no-repeat; width: 15px; height: 13px; }
.share > span li a.gp i, .share ul li a.gp i { display: inline-block; background: url('../img/icons-s94422c8a13.png') 0 -774px no-repeat; width: 14px; height: 13px; }
.share > span li a.gp:hover i, .share ul li a.gp:hover i { background: url('../img/icons-s94422c8a13.png') 0 -851px no-repeat; width: 14px; height: 13px; }

.content__tools { *zoom: 1; }
.content__tools:after { content: " "; display: table; clear: both; }

.markerror { position: relative; float: left; padding-top: 5px; padding-left: 25px; font-size: 12px; }
.markerror:before { content: ""; position: absolute; top: 5px; left: 0px; background: url('../img/icons-s94422c8a13.png') 0 -1184px no-repeat; width: 15px; height: 15px; }

.main { margin-top: 15px; margin-bottom: 18px; padding: 0px 30px 30px; border-top: 4px solid #313234; }

.h1, .h2 { margin-bottom: 20px; font-family: "HouschkaProBold", arial, sans-serif; text-transform: uppercase; line-height: 1; color: #352534; }

.h1 { font-size: 54px; margin-top: 40px; }

.h2 { margin-top: 60px; font-size: 40px; }

.h3 { font-size: 26px; color: #352534; margin: 32px 0 36px; text-transform: uppercase; font-family: "HouschkaProBold", arial, sans-serif; }

.h4 { font-size: 23px; font-family: "HouschkaProDemiBold", arial, sans-serif; }

.h5 { font-size: 18px; color: #492b47; font-family: "HouschkaProBold", arial, sans-serif; text-transform: uppercase; }

.footer { position: absolute; bottom: 0; left: 0; right: 0; *zoom: 1; }
.footer:after { content: " "; display: table; clear: both; }

.footer__inner { width: 820px; margin: 0 auto; height: 76px; padding-top: 18px; border-top: 4px solid #313234; }

.input { display: block; width: 310px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; margin-bottom: 15px; padding: 0 13px; font-family: "HouschkaProDemiBold", arial, sans-serif; font-size: 17px; color: white; background: #522838; border: none; height: 43px; -webkit-transition: box-shadow 200ms linear; -moz-transition: box-shadow 200ms linear; -o-transition: box-shadow 200ms linear; transition: box-shadow 200ms linear; }
.input:-moz-placeholder, .input::-moz-placeholder { color: #e3e0e1; opacity: 1; }
.input::-webkit-input-placeholder { color: #e3e0e1; }
.input:focus { -webkit-box-shadow: 0 0px 8px #661a1a; -moz-box-shadow: 0 0px 8px #661a1a; box-shadow: 0 0px 8px #661a1a; }

.textarea { display: block; width: 376px; height: 194px; resize: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; padding: 13px; border: none; font-family: "HouschkaProDemiBold", arial, sans-serif; font-size: 17px; color: white; background: #522838; -webkit-transition: box-shadow 200ms linear; -moz-transition: box-shadow 200ms linear; -o-transition: box-shadow 200ms linear; transition: box-shadow 200ms linear; }
.textarea:-moz-placeholder, .textarea::-moz-placeholder { color: #e3e0e1; opacity: 1; }
.textarea::-webkit-input-placeholder { color: #e3e0e1; }
.textarea:focus { -webkit-box-shadow: 0 0px 8px #661a1a; -moz-box-shadow: 0 0px 8px #661a1a; box-shadow: 0 0px 8px #661a1a; }

.btn { display: inline-block; text-transform: uppercase; font-size: 18px; color: #522838; text-decoration: underline; font-family: "HouschkaProBold", arial, sans-serif; background: inherit; }
.btn:hover { color: #a8939b; text-decoration: none; }

.tabs { position: relative; *zoom: 1; margin: 0 -30px 29px; background: #f1f1f1; }
.tabs:after { content: " "; display: table; clear: both; }
.tabs:before { content: ""; position: absolute; top: 100%; left: 33px; width: 0px; height: 0px; border-style: solid; border-width: 15px 16px 0 16px; border-color: #f1f1f1 transparent transparent transparent; }
.tabs li { float: left; margin-left: 29px; }
.tabs li a { display: block; height: 60px; line-height: 60px; font-family: "HouschkaProBold", arial, sans-serif; font-size: 12px; text-decoration: none; color: #352534; text-transform: uppercase; }
.tabs li.is-active a { color: #c6304a; }
.tabs li.is-inactive a { color: #b8b3b8; cursor: default; }

.select { position: relative; display: inline-block; }

.select__text { position: relative; width: 260px; height: 39px; padding: 0 15px; line-height: 39px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #f0f0f0; font-size: 13px; cursor: pointer; }
.select__text:before { content: ""; position: absolute; top: 17px; right: 13px; background: url('../img/icons-s94422c8a13.png') 0 -1209px no-repeat; width: 13px; height: 7px; }

.select__dropdown { position: absolute; top: 100%; left: 0; right: 0; border: 1px solid #cfcfcf; padding: 15px 0; background: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: 0 4px 9px rgba(0, 0, 1, 0.2); -moz-box-shadow: 0 4px 9px rgba(0, 0, 1, 0.2); box-shadow: 0 4px 9px rgba(0, 0, 1, 0.2); z-index: 2; }
.select__dropdown li a { display: block; height: 31px; line-height: 31px; padding: 0 17px; text-decoration: none; font-size: 13px; color: #242424; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
.select__dropdown li a:hover { color: white; background: #ff2241; }

.feedback { position: relative; display: inline-block; height: 40px; line-height: 40px; padding: 0 20px 0 52px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background: #f2f2f2; color: #242424; font-size: 14px; text-decoration: none; }
.feedback:before { content: ""; position: absolute; top: 7px; left: 17px; background: url('../img/icons-s94422c8a13.png') 0 -275px no-repeat; width: 24px; height: 24px; }
.feedback span { line-height: 1; border-bottom: 1px dashed; }
.feedback:hover { color: #c6304a; }
.feedback:hover span { border-bottom: none; }

.feedback_letter:before { top: 14px; background: url('../img/icons-s94422c8a13.png') 0 -1142px no-repeat; width: 19px; height: 13px; }

@-moz-keyframes round { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(-180deg); transform: rotate(-180deg); } }

@-webkit-keyframes round { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(-180deg); transform: rotate(-180deg); } }

@-o-keyframes round { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(-180deg); transform: rotate(-180deg); } }

@-ms-keyframes round { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(-180deg); transform: rotate(-180deg); } }

@keyframes round { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(-180deg); transform: rotate(-180deg); } }

.loading { height: 46px; line-height: 46px; text-align: center; color: #505157; background: #f1f1f1; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
.loading span { position: relative; }
.loading span .refresh { position: absolute; top: 0; left: -30px; background: url('../img/icons-s94422c8a13.png') 0 -309px no-repeat; width: 17px; height: 19px; -webkit-animation: round 0.5s linear infinite; -moz-animation: round 0.5s linear infinite; -ms-animation: round 0.5s linear infinite; -o-animation: round 0.5s linear infinite; animation: round 0.5s linear infinite; }

.lang { width: 820px; margin: 0 auto; height: 86px; *zoom: 1; }
.lang:after { content: " "; display: table; clear: both; }

.lang__inner { position: relative; float: right; width: 85px; }

.lang__list { position: absolute; top: 0; left: 0; right: 0; width: 85px; height: 20px; padding: 4px 0; overflow: hidden; background: #c6304a; -webkit-transition: height 0.2s linear; -moz-transition: height 0.2s linear; -o-transition: height 0.2s linear; transition: height 0.2s linear; -webkit-border-radius: 0 0 2px 2px; -moz-border-radius: 0 0 2px 2px; -ms-border-radius: 0 0 2px 2px; -o-border-radius: 0 0 2px 2px; border-radius: 0 0 2px 2px; }
.lang__list li { padding: 3px 0; }
.lang__list li a { display: block; font-size: 12px; font-family: "HouschkaProBold", arial, sans-serif; padding-left: 15px; color: white; text-transform: uppercase; text-decoration: none; }
.lang__list.is-open { height: 44px; }
.lang__list.is-open:hover { background: #c6304a; }
.lang__list.is-open:hover a:hover { color: #e08393; }
.lang__list:hover { background: #d16679; }

.sidebar__overlay { display: none; }
.is-narrow.is-sidebar .sidebar__overlay { display: block; position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 2; }

.sidebar { z-index: 200; }

.sidebar__top { height: 145px; position: relative; text-align: center; padding-top: 36px; }
.sidebar__top .sidebar__logo { display: inline-block; }
.sidebar__top .sidebar__logo a { font: 0/0 a; text-shadow: none; color: transparent; text-decoration: none; display: inline-block; background: url('../img/icons-s94422c8a13.png') 0 -42px no-repeat; width: 103px; height: 73px; }
.is-narrow .sidebar__top .sidebar__logo a { background: url('../img/icons-s94422c8a13.png') 0 -452px no-repeat; width: 14px; height: 24px; }
.is-narrow.is-sidebar .sidebar__top .sidebar__logo a { background: url('../img/icons-s94422c8a13.png') 0 -42px no-repeat; width: 103px; height: 73px; }
.is-narrow .sidebar__top .sidebar__logo a:hover { background-position: 0 -520px; }
.is-narrow.is-sidebar .sidebar__top .sidebar__logo a:hover { background: url('../img/icons-s94422c8a13.png') 0 -42px no-repeat; width: 103px; height: 73px; }

.sidebar__nav { list-style: none; font-size: 14px; margin-left: 60px; }
.is-narrow .sidebar__nav { margin-left: 14px; }
.is-narrow.is-sidebar .sidebar__nav { margin-left: 60px; }
.sidebar__nav li { margin-bottom: 17px; }
.sidebar__nav a { color: #ebebeb; text-decoration: none; display: block; position: relative; }
.is-narrow .sidebar__nav a span { position: absolute; font-size: 14px; color: #2d212c; height: 32px; line-height: 32px; left: 28px; top: -6px; display: none; background: url('../img/icons-s94422c8a13.png') 0 -233px no-repeat; width: 254px; height: 32px; width: auto; padding: 0 11px 0 22px; white-space: nowrap; }
.is-narrow.is-sidebar .sidebar__nav a span { position: relative; top: 0; left: 0; padding: 0; line-height: 1.2; height: auto; width: auto; background: none; color: #ebebeb; display: inline; }
.is-narrow .sidebar__nav a:hover span { display: block; }
.is-narrow.is-sidebar .sidebar__nav a:hover span { display: inline; color: #c4324c; }
.sidebar__nav a:hover { color: #c4324c; text-decoration: underline; }
.sidebar__nav a i { display: inline-block; position: absolute; left: -30px; top: -2px; }
.is-narrow .sidebar__nav a i { position: static; }
.is-narrow.is-sidebar .sidebar__nav a i { position: absolute; }
.sidebar__nav .sidebar__nav1 i { background: url('../img/icons-s94422c8a13.png') 0 -398px no-repeat; width: 18px; height: 17px; }
.is-narrow .sidebar__nav .sidebar__nav1:hover i { background-position: 0 -425px; }
.is-narrow.is-sidebar .sidebar__nav .sidebar__nav1:hover i { background-position: 0 -398px; }
.sidebar__nav .sidebar__nav2 i { background: url('../img/icons-s94422c8a13.png') 0 -207px no-repeat; width: 24px; height: 16px; }
.is-narrow .sidebar__nav .sidebar__nav2:hover i { background-position: 0 -181px; }
.is-narrow.is-sidebar .sidebar__nav .sidebar__nav2:hover i { background-position: 0 -207px; }
.sidebar__nav .sidebar__nav3 i { background: url('../img/icons-s94422c8a13.png') 0 -1343px no-repeat; width: 16px; height: 19px; }
.is-narrow .sidebar__nav .sidebar__nav3:hover i { background-position: 0 -1372px; }
.is-narrow.is-sidebar .sidebar__nav .sidebar__nav3:hover i { background-position: 0 -1343px; }
.sidebar__nav .sidebar__nav4 i { background: url('../img/icons-s94422c8a13.png') 0 -125px no-repeat; width: 24px; height: 18px; }
.is-narrow .sidebar__nav .sidebar__nav4:hover i { background-position: 0 -153px; }
.is-narrow.is-sidebar .sidebar__nav .sidebar__nav4:hover i { background-position: 0 -125px; }
.sidebar__nav .sidebar__nav5 i { background: url('../img/icons-s94422c8a13.png') 0 -797px no-repeat; width: 16px; height: 17px; }
.is-narrow .sidebar__nav .sidebar__nav5:hover i { background-position: 0 -824px; }
.is-narrow.is-sidebar .sidebar__nav .sidebar__nav5:hover i { background-position: 0 -797px; }
.sidebar__nav .sidebar__nav6 i { background: url('../img/icons-s94422c8a13.png') 0 -903px no-repeat; width: 23px; height: 19px; }
.is-narrow .sidebar__nav .sidebar__nav6:hover i { background-position: 0 -932px; }
.is-narrow.is-sidebar .sidebar__nav .sidebar__nav6:hover i { background-position: 0 -903px; }
.sidebar__nav .sidebar__nav7 i { background: url('../img/icons-s94422c8a13.png') 0 -338px no-repeat; width: 17px; height: 20px; }
.is-narrow .sidebar__nav .sidebar__nav7:hover i { background-position: 0 -368px; }
.is-narrow.is-sidebar .sidebar__nav .sidebar__nav7:hover i { background-position: 0 -338px; }

.sidebar__bottom { position: absolute; bottom: 33px; left: 30px; font-size: 11px; color: #a1a4ad; line-height: 1.1; }
.is-narrow .sidebar__bottom { left: 16px; }
.is-narrow .sidebar__bottom .sidebar__text { display: none; }
.is-narrow.is-sidebar .sidebar__bottom .sidebar__text { display: block; }
.sidebar__bottom .sidebar__age { display: inline-block; border-radius: 3px; border: 1px solid #655961; font-size: 18px; color: #a1a4ad; height: 26px; line-height: 26px; width: 39px; text-align: center; margin-bottom: 8px; }
.is-narrow .sidebar__bottom .sidebar__age { display: none; }
.is-narrow.is-sidebar .sidebar__bottom .sidebar__age { display: block; }
.sidebar__bottom a { color: #fc2747; text-decoration: underline; }
.sidebar__bottom a:hover { color: #7f7e87; text-decoration: none; }

.ssocials { margin-top: 15px; }
.ssocials a { display: inline-block; vertical-align: middle; margin-right: 13px; }
.is-narrow .ssocials a { display: block; margin-bottom: 13px; margin: 0 auto 13px auto; }
.is-narrow.is-sidebar .ssocials a { display: inline-block; vertical-align: middle; margin-right: 13px; margin-bottom: 0; }
.ssocials .ssocials__vk { background: url('../img/icons-s94422c8a13.png') 0 -1013px no-repeat; width: 19px; height: 19px; }
.ssocials .ssocials__vk:hover { background-position: 0 -1042px; }
.ssocials .ssocials__fb { background: url('../img/icons-s94422c8a13.png') 0 -1289px no-repeat; width: 10px; height: 17px; }
.ssocials .ssocials__fb:hover { background-position: 0 -1316px; }
.ssocials .ssocials__tw { background: url('../img/icons-s94422c8a13.png') 0 -656px no-repeat; width: 19px; height: 15px; }
.ssocials .ssocials__tw:hover { background-position: 0 -681px; }

.sidebar { position: fixed; top: 0; bottom: 0; left: 0; width: 208px; background: #312430; z-index: 2; }
.is-narrow .sidebar { width: 50px; }
.is-sidebar.is-narrow .sidebar { width: 208px; }

.wrapper { position: relative; margin-left: 208px; background: white; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); min-height: 100%; width: 942px; }
.is-narrow .wrapper { margin-left: 20px; }
.is-sidebar.is-narrow .wrapper { margin-left: 20px; }
.wrapper .site { margin: 0 auto; width: 820px; padding-bottom: 98px; }

.request .h3 { margin-bottom: 20px; }
.request .h4 { margin-bottom: 24px; }

.request_wide .request-form { background: whitesmoke; padding-top: 75px; padding-bottom: 58px; margin: 0 -91px 25px; }
.request_wide .request-form__popup { top: 197px; }

.request-form { position: relative; *zoom: 1; margin-top: 35px; }
.request-form:after { content: " "; display: table; clear: both; }

.request-form__inner { width: 760px; margin: 0 auto; }

.request-form__popup { position: absolute; top: 65px; left: 50%; width: 304px; margin-left: -187px; padding: 30px 35px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; text-align: center; color: white; font-size: 18px; font-family: "HouschkaProBold", arial, sans-serif; background: #ff2241; }

.request-form__close { position: absolute; top: 11px; right: 11px; background: url('../img/icons-s94422c8a13.png') 0 -1165px no-repeat; width: 10px; height: 9px; cursor: pointer; }
.request-form__close:hover { background: url('../img/icons-s94422c8a13.png') 0 -1270px no-repeat; width: 10px; height: 9px; }

.request-form__left { float: left; }

.request__right { float: right; }

.request__btn { clear: both; text-align: right; }

.partners-info { text-align: center; margin-top: 70px; }

.partners-info__title { position: relative; display: inline-block; text-align: center; margin-bottom: 40px; height: 44px; line-height: 44px; padding: 0 22px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background: #ff2241; font-family: "HouschkaProBold", arial, sans-serif; font-size: 23px; color: white; }
.partners-info__title:before { content: ""; position: absolute; bottom: -10px; left: 50%; margin-left: -11px; width: 0px; height: 0px; border-style: solid; border-width: 10px 11px 0 11px; border-color: #ff2241 transparent transparent transparent; }

.partners-info__list { text-align: justify; line-height: 0; font-size: 1px; text-justify: newspaper; zoom: 1; text-align-last: justify; }
.partners-info__list:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }
.partners-info__list li { width: 30%; display: inline-block; line-height: normal; vertical-align: top; font-size: 14px; }
.partners-info__list li .h4 { margin-bottom: 15px; text-align: left; }
.partners-info__list li p { margin-bottom: 20px; text-align: left; font-size: 15px; }
.partners-info__list li p i { font-family: "HouschkaProDemiBold", arial, sans-serif; font-style: normal; }
.partners-info__list li ul li { width: 100%; position: relative; padding-left: 10px; }
.partners-info__list li ul li:before { content: "-"; position: absolute; top: 0px; left: -5px; }

.experts { font-size: 0; margin-left: -35px; }

.experts__item { position: relative; display: inline-block; vertical-align: top; width: 127px; margin-left: 35px; font-size: 13px; color: #242424; line-height: 1.2; text-decoration: none; }
.experts__item:hover .experts__name { text-decoration: none; color: #ff2241; }
.experts__item.is-disabled { cursor: default; }
.experts__item.is-disabled .experts__img img { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.experts__item.is-disabled .soon { position: absolute; left: 0; top: 100px; height: 24px; line-height: 24px; padding: 0px 8px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #c52f49; font-family: "HouschkaProDemiBold", arial, sans-serif; color: #883543; font-size: 17px; }
.experts__item.is-disabled:hover .experts__name { text-decoration: underline; color: #242424; }

.experts__img { width: 127px; height: 127px; margin-bottom: 10px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; overflow: hidden; text-align: center; }

.experts__name { font-size: 18px; font-family: "HouschkaProBold", arial, sans-serif; color: #242424; line-height: 1; margin-bottom: 5px; text-decoration: underline; }

.expert__company { padding-top: 10px; color: #8a8a8a; }

.expert { *zoom: 1; padding-top: 48px; }
.expert:after { content: " "; display: table; clear: both; }

.expert__left { float: left; width: 170px; margin-left: -15px; }

.expert__img { width: 142px; height: 142px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; overflow: hidden; text-align: center; }
.expert__img img { min-width: 100%; }

.expert__right { overflow: hidden; }

.expert__topper { *zoom: 1; margin-bottom: 45px; }
.expert__topper:after { content: " "; display: table; clear: both; }

.expert__info { float: left; width: 50%; font-size: 13px; }

.expert__name { font-size: 25px; color: #141415; font-family: "HouschkaProBold", arial, sans-serif; }

.expert__birthday { position: relative; color: silver; font-size: 12px; padding-left: 19px; margin: 12px 0; }
.expert__birthday:before { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-s94422c8a13.png') 0 -1094px no-repeat; width: 12px; height: 15px; }

.expert__company { float: left; width: 50%; text-align: right; padding-top: 40px; }

.expert__about p { margin-bottom: 20px; }

.contacts { margin: 31px -91px 0; background: whitesmoke; }
.contacts .request { width: 760px; margin: 0 auto; padding: 0 30px; }
.contacts .request .h4 { margin-bottom: 10px; padding-left: 10px; }
.contacts .request .textarea { height: 74px; max-height: 74px; }

.contacts__form { padding-bottom: 35px; }

.map { position: relative; height: 593px; margin: 0 0 50px; }

.map-popup { position: absolute; top: 180px; left: 50%; margin-left: -216px; width: 432px; padding: 30px 25px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; -webkit-border-radius: 4px 4px; -moz-border-radius: 4px 4px; -ms-border-radius: 4px 4px; -o-border-radius: 4px 4px; border-radius: 4px 4px; background: #ff2141; -webkit-box-shadow: 2px 4px 3px rgba(0, 0, 1, 0.3); -moz-box-shadow: 2px 4px 3px rgba(0, 0, 1, 0.3); box-shadow: 2px 4px 3px rgba(0, 0, 1, 0.3); font-family: "HouschkaProDemiBold", arial, sans-serif; color: white; font-size: 16px; line-height: 1.2; }
.map-popup:before { content: ""; position: absolute; top: 100%; left: 37px; width: 0px; height: 0px; border-style: solid; border-width: 13px 13px 0 13px; border-color: #f12643 transparent transparent transparent; }
.map-popup a { color: white; }
.map-popup a:hover { color: #fe9eac; text-decoration: none; }

.map-popup__title { font-family: "HouschkaProBold", arial, sans-serif; font-size: 24px; margin-bottom: 5px; }

.catalog { font-size: 0; }

.keyletter { display: inline-block; vertical-align: top; width: 180px; padding-right: 10px; margin-bottom: 60px; font-size: 14px; }
.keyletter a { color: #242424; }
.keyletter a:hover { color: #ff2241; text-decoration: none; }

.letter { margin-bottom: 23px; font-family: "HouschkaProBold", arial, sans-serif; font-size: 44px; color: #312530; }

.brands { font-size: 0; }

.brands__item { display: inline-block; vertical-align: top; width: 170px; margin-bottom: 40px; padding-right: 20px; font-size: 14px; text-decoration: none; color: #242424; }
.brands__item:hover .brands__name { text-decoration: none; color: #ff2241; }
.brands__item.is-inprogress .brands__logo .soon { position: absolute; left: 0px; bottom: 10px; height: 24px; line-height: 24px; padding: 0px 8px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #c52f49; font-family: "HouschkaProDemiBold", arial, sans-serif; color: #883543; font-size: 17px; }

.brands__logo { position: relative; height: 150px; line-height: 140px; }
.brands__logo img { display: inline-block; vertical-align: middle; max-width: 100%; max-height: 100%; }

.brands__name { font-size: 17px; text-decoration: underline; font-family: "HouschkaProDemiBold", arial, sans-serif; margin-bottom: 10px; }

.brand__topper { *zoom: 1; }
.brand__topper:after { content: " "; display: table; clear: both; }

.brand__left { float: left; width: 60%; font-size: 17px; }

.brand__right { float: left; width: 40%; text-align: right; }

.brand__logo { height: 208px; line-height: 208px; }
.brand__logo img { display: inline-block; vertical-align: middle; }

.brand__contacts { *zoom: 1; margin-bottom: 50px; }
.brand__contacts:after { content: " "; display: table; clear: both; }
.brand__contacts .feedback { float: right; }

.brand__link { float: left; padding-top: 5px; font-size: 18px; font-family: "HouschkaProDemiBold", arial, sans-serif; color: #242424; }
.brand__link:hover { color: #ff3854; text-decoration: none; }

.brand__article { font-size: 15px; }
.brand__article p { margin-bottom: 25px; line-height: 1.2; }
.brand__article .title { position: relative; display: inline-block; font-size: 25px; margin-bottom: 20px; text-transform: uppercase; color: #492b47; font-family: "HouschkaProBold", arial, sans-serif; }
.brand__article .title:before { content: ""; position: absolute; bottom: -2px; left: 0; width: 65px; height: 3px; background: #492b47; }

.grey-box { *zoom: 1; margin: 0 -30px 50px; padding: 60px 50px 50px; background: whitesmoke; }
.grey-box:after { content: " "; display: table; clear: both; }

.ohmy__check p { padding-left: 70px; text-align: left; line-height: 1; margin-bottom: 10px; font-size: 13px; color: #0c0c0c; }
.ohmy__check img { display: block; }
.ohmy__check span { display: inline-block; padding-top: 5px; text-transform: uppercase; padding-left: 85px; font-size: 18px; }

.ohmy__fillings { position: relative; top: -70px; text-align: center; }
.ohmy__fillings p { text-align: left; font-size: 13px; padding-left: 40px; }

.ohmy__benefits .column33 { text-align: center; }
.ohmy__benefits .column33.middle img { position: relative; top: -18px; }
.ohmy__benefits p { width: 80%; text-align: left; font-size: 13px; margin: 0 auto; }

.wide__pict { display: block; margin: 0 -91px 70px; }

.face__topper { *zoom: 1; margin-bottom: 40px; }
.face__topper:after { content: " "; display: table; clear: both; }

.face__img { float: left; width: 142px; height: 142px; margin-right: 20px; text-align: center; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; overflow: hidden; }

.face__info { float: left; width: 200px; }

.face__name { font-size: 25px; font-family: "HouschkaProBold", arial, sans-serif; line-height: 1; }

.vcard { position: relative; float: right; width: 227px; *zoom: 1; padding: 39px 91px 39px 27px; margin-right: -91px; background: whitesmoke; -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; -ms-border-radius: 4px 0 0 4px; -o-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; }
.vcard:after { content: " "; display: table; clear: both; }
.vcard img { float: left; width: 80px; margin-right: 18px; }
.vcard p { color: #adadac; font-size: 13px; }

.vcard__right { float: right; width: 127px; }

.vcard__title { position: absolute; top: -27px; left: 36px; height: 44px; line-height: 44px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background: #ff2141; padding: 0 15px; font-size: 23px; font-family: "HouschkaProBold", arial, sans-serif; color: white; }
.vcard__title:before { content: ""; position: absolute; bottom: -10px; right: 16px; width: 0px; height: 0px; border-style: solid; border-width: 10px 11px 0 11px; border-color: #ff2241 transparent transparent transparent; }

.vcard__name { font-size: 15px; font-family: "HouschkaProDemiBold", arial, sans-serif; }

.best__check p { width: 60%; font-size: 14px; font-family: "HouschkaProDemiBold", arial, sans-serif; }

.best__record { position: relative; top: -20px; text-align: right; }

.best__stats p { padding-left: 30px; }

.best__popular > div { position: relative; *zoom: 1; min-height: 55px; padding-top: 160px; }
.best__popular > div:after { content: " "; display: table; clear: both; }
.best__popular > div p { float: right; width: 45%; font-size: 14px; font-family: "HouschkaProDemiBold", arial, sans-serif; }

.best__objects { background: url(../img/best6.png) 0 0 no-repeat; }

.best__staff { background: url(../img/best7.png) 0 0 no-repeat; }

.best__clients { background: url(../img/best8.png) 0 0 no-repeat; }

.best__calls { background: url(../img/best9.png) 0 0 no-repeat; }

.best__traffic p { width: 60%; padding-left: 20px; font-size: 14px; font-family: "HouschkaProDemiBold", arial, sans-serif; }

.best__award { padding-left: 115px; padding-top: 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.best__award .h5 { font-size: 21px; }
.best__award p { font-size: 14px; text-transform: uppercase; color: #141415; }

.slider { position: relative; height: 590px; margin-top: 65px; z-index: 1; }

.example-pager { position: absolute; bottom: 40px; left: 0; right: 0; text-align: center; z-index: 9999; }
.example-pager span { display: inline-block; width: 12px; height: 12px; margin: 0 8px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #d8d8d8; font: 0/0 a; text-shadow: none; color: transparent; cursor: pointer; }

span.cycle-pager-active { background: #ff2241; }

.slider__nav { position: relative; }

.slider__prev, .slider__next { position: absolute; top: 200px; left: -50px; height: 48px; width: 48px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #f4f4f4; cursor: pointer; z-index: 99999; }
.slider__prev:before, .slider__next:before { content: ""; position: absolute; top: 12px; left: 15px; background: url('../img/icons-s94422c8a13.png') 0 -622px no-repeat; width: 14px; height: 24px; }
.slider__prev:hover, .slider__next:hover { background: #ff2241; }
.slider__prev:hover:before, .slider__next:hover:before { background: url('../img/icons-s94422c8a13.png') 0 -706px no-repeat; width: 14px; height: 24px; }

.slider__next { left: auto; right: -50px; }
.slider__next:before { content: ""; position: absolute; top: 12px; left: 20px; background: url('../img/icons-s94422c8a13.png') 0 -486px no-repeat; width: 14px; height: 24px; }
.slider__next:hover { background: #ff2241; }
.slider__next:hover:before { background: url('../img/icons-s94422c8a13.png') 0 -740px no-repeat; width: 14px; height: 24px; }

.slider__item { width: 100%; text-align: center; }

.slide__content { position: relative; height: 590px; margin: 0 auto; color: #242424; }
.slide__content img { max-height: 100%; }

.slider__title { font-size: 30px; margin-bottom: 25px; font-family: "HouschkaProDemiBold", arial, sans-serif; color: black; text-transform: uppercase; }

.hint { position: absolute; top: -20px; left: 0px; height: 44px; line-height: 44px; padding: 0 18px; font-family: "HouschkaProBold", arial, sans-serif; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; font-size: 23px; color: white; background: #ff2241; }
.hint:before { content: ""; position: absolute; top: 100%; left: 15px; width: 0px; height: 0px; border-style: solid; border-width: 10px 11px 0 11px; border-color: #ff2241 transparent transparent transparent; }

.slide-use { position: absolute; top: 30px; left: 30px; font-family: "HouschkaProDemiBold", arial, sans-serif; text-transform: uppercase; color: #542939; font-size: 17px; z-index: 2; }
.slide-use .hint { top: 30px; left: 0; width: 200px; right: auto; font-size: 18px; }

.slide7 img { position: relative; top: -40px; }

.slide9 img, .slide11 img { position: absolute; top: 0px; left: -91px; right: -91px; width: 942px; height: 100%; max-height: initial; z-index: 1; }
.slide9 .hint, .slide11 .hint { width: 85px; }

.slide10 .hint { width: 100px; }

.announce { margin: 0 -91px; background: url(../img/pattern1.jpg); }

.announce__inner { position: relative; padding: 55px 0 60px; text-align: center; }
.announce__inner:before { content: ""; position: absolute; bottom: -32px; left: 61px; background: url('../img/icons-s94422c8a13.png') 0 0 no-repeat; width: 58px; height: 32px; z-index: 2; }

.announce__content { display: inline-block; width: 450px; min-height: 140px; }

.announce__date { position: relative; margin-bottom: 20px; text-align: left; padding-left: 110px; background: url(../img/date.png) no-repeat; }

.announce__title { font-size: 32px; color: white; font-family: "HouschkaProBold", arial, sans-serif; text-transform: uppercase; }

.announce__text { font-size: 19px; color: white; line-height: 1; text-transform: uppercase; }

.announce__counter { height: 43px; line-height: 43px; text-align: center; font-family: "HouschkaProBold", arial, sans-serif; text-transform: uppercase; font-size: 22px; color: white; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background: #ff2241; }

.parthnres { padding: 105px 0 84px; }

.parthnres__title { margin-bottom: 38px; text-transform: uppercase; text-align: center; font-size: 26px; color: #242424; font-family: "HouschkaProBold", arial, sans-serif; }
.parthnres__title span { color: #ff2241; }

.tab { font-size: 0; margin-bottom: 45px; }
.tab li { font-size: 13px; display: inline-block; vertical-align: top; margin-left: 8px; }
.tab li:first-child { margin-left: 0; }
.tab li a { display: block; height: 30px; line-height: 30px; padding: 0 12px; color: #242424; text-transform: uppercase; font-family: "HouschkaProBold", arial, sans-serif; font-size: 11px; text-decoration: none; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #efefef; }
.tab li a.is-active { color: white; background: #ff2241; }

.tab-cont__inner { min-height: 50px; }

.parthnres-list { text-align: center; }
.parthnres-list li { display: inline-block; margin: 0 20px; }

.parthnres__btn-wrap { text-align: center; padding-top: 38px; }

.add-btn { position: relative; display: inline-block; height: 43px; line-height: 43px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; padding: 0 28px 0 52px; background: #ff2241; text-decoration: none; font-family: "HouschkaProBold", arial, sans-serif; color: white; font-size: 20px; text-transform: uppercase; }
.add-btn:before { content: ""; position: absolute; top: 11px; left: 20px; background: url('../img/icons-s94422c8a13.png') 0 -1495px no-repeat; width: 19px; height: 19px; }

.smi { position: relative; }
.smi .cycle-slideshow { width: 760px; margin: 0 auto; }

.smi__item { padding: 70px 0px; width: 760px; }
.smi__item li { display: inline-block; width: 230px; margin-left: 30px; vertical-align: top; white-space: nowrap; }
.smi__item li:first-child { margin-left: 0; }
.smi__item li p { font-size: 15px; font-family: "Houschka Pro Medium", arial, sans-serif; line-height: 1.2; color: #242424; white-space: normal; }

.link-title { display: block; margin-bottom: 20px; font-size: 20px; font-family: "HouschkaProBold", arial, sans-serif; color: #242424; }
.link-title:hover { text-decoration: none; color: #ff3854; }

.cycle-prev { position: absolute; top: 50%; left: -45px; margin-top: -15px; background: url('../img/icons-s94422c8a13.png') 0 -622px no-repeat; width: 14px; height: 24px; cursor: pointer; z-index: 9999; }
.cycle-prev:hover { background: url('../img/icons-s94422c8a13.png') 0 -554px no-repeat; width: 14px; height: 24px; }

.cycle-next { position: absolute; top: 50%; right: -45px; margin-top: -15px; background: url('../img/icons-s94422c8a13.png') 0 -486px no-repeat; width: 14px; height: 24px; cursor: pointer; z-index: 9999; }
.cycle-next:hover { background: url('../img/icons-s94422c8a13.png') 0 -588px no-repeat; width: 14px; height: 24px; }

.callback { margin: 0 -91px 0; }

.callback__map { position: relative; height: 275px; }
.callback__map .map-popup { position: absolute; top: 50px; left: 50%; margin-left: -202px; width: 355px; padding: 20px 25px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; -webkit-border-radius: 4px 4px; -moz-border-radius: 4px 4px; -ms-border-radius: 4px 4px; -o-border-radius: 4px 4px; border-radius: 4px 4px; background: #ff2141; -webkit-box-shadow: 2px 4px 3px rgba(0, 0, 1, 0.3); -moz-box-shadow: 2px 4px 3px rgba(0, 0, 1, 0.3); box-shadow: 2px 4px 3px rgba(0, 0, 1, 0.3); font-family: "HouschkaProDemiBold", arial, sans-serif; color: white; font-size: 15px; line-height: 1.2; }
.callback__map .map-popup:before { content: ""; position: absolute; top: 100%; left: 37px; width: 0px; height: 0px; border-style: solid; border-width: 13px 13px 0 13px; border-color: #f12643 transparent transparent transparent; }
.callback__map .map-popup a { color: white; }

.callback-form { padding: 55px 0 32px; background: url(../img/pattern1.jpg); }

.callback-form__inner { padding: 0 80px; }
.callback-form__inner .h4 { color: white; }
.callback-form__inner .input { background: #ff3854; }
.callback-form__inner .textarea { height: 76px; max-height: 200px; background: #ff3854; }
.callback-form__inner .request__btn { *zoom: 1; }
.callback-form__inner .request__btn:after { content: " "; display: table; clear: both; }
.callback-form__inner .request__btn span { float: left; margin-right: 25px; color: white; font-size: 15px; font-family: "HouschkaProDemiBold", arial, sans-serif; }
.callback-form__inner .request__btn span strong { font-family: "HouschkaProBold", arial, sans-serif; }
.callback-form__inner .request__btn .btn { float: right; color: white; }

.socials { padding: 100px 0 80px; }

.socials__plagin { position: relative; padding: 55px 0px; }
.socials__plagin ul { *zoom: 1; }
.socials__plagin ul:after { content: " "; display: table; clear: both; }
.socials__plagin li { float: left; margin-left: 16px; }
.socials__plagin li:first-child { margin-left: 0; }
