// content pages styles
	
// zayavka		
.request
	margin-top: 35px
	.h3
		margin-bottom: 20px
.request-form
	position: relative
	+clr
	margin-bottom: 25px
.request-form__popup
	position: absolute
	top: 67px
	left: 50%
	width: 304px
	margin-left: -187px
	padding: 20px 35px
	+border-radius(6px)
	text-align: center
	color: #fff
	font-size: 18px
	+hp_b
	background: #ff2241
.request-form__close
	position: absolute
	top: 11px
	right: 11px
	+s(close)
	cursor: pointer
	&:hover
		+s(close-hover)    	
.request-form__left
	float: left	
.request__right
	float: right
.request__btn
	clear: both
	text-align: right
.partners-info
	text-align: center	
.partners-info__title
	position: relative
	display: inline-block
	text-align: center
	margin-bottom: 40px
	height: 44px
	line-height: 44px
	padding: 0 22px
	+border-radius(4px)
	background: #ff2241 
	+hp_b
	font-size: 23px
	color: #fff
	&:before
		content: ""
		position: absolute
		bottom: -10px
		left: 50%
		margin-left: -11px 
		+arr(22, 10, #ff2241, b)	
.partners-info__list
	+justify
	li
		width: 30% 
		+justify-child
		.h4
			margin-bottom: 15px
			text-align: left
		p
			margin-bottom: 20px
			text-align: left
			font-size: 15px
			i
				+hp_db
				font-style: normal
		ul
			li
				width: 100% 
				position: relative
				padding-left: 10px
				&:before
					content: "–"
					position: absolute
					top: 0px 
					left: -5px
					
// experts
.experts
	font-size: 0
	margin-left: -35px
.experts__item
	position: relative
	display: inline-block
	vertical-align: top
	width: 127px
	margin-left: 35px
	font-size: 13px
	color: #242424
	line-height: 1.2
	text-decoration: none
	&:hover
		.experts__name
			text-decoration: none
			color: #ff2241
	&.is-disabled
		cursor: default
		.experts__img
			img
				+opacity(0.5)
		.soon
			position: absolute
			left: 0
			top: 100px
			height: 24px
			line-height: 24px 
			padding: 0px 8px 
			+opacity(.9)
			+border-radius(2px)
			background: #c52f49
			+hp_db
			color: #883543
			font-size: 17px
		&:hover
			.experts__name
				text-decoration: underline
				color: #242424	
.experts__img
	width: 127px
	height: 127px
	margin-bottom: 10px
	+border-radius(50%)
	overflow: hidden
	text-align: center
.experts__name
	font-size: 18px
	+hp_b 
	color: #242424
	line-height: 1
	margin-bottom: 5px
	text-decoration: underline
.expert__company
	padding-top: 10px
	color: #8a8a8a		

